@media (min-width: 500px) {
  .logo {
    font-size: 1.2em;
  }
  .logo-nav {
    margin: 2% 8.5% 2% 8.5%;
    grid-template-columns: 2.4fr 1fr;
  }
  .navigation {
    flex-direction: row;
    justify-content: space-between;
    justify-self: self-start;
    width: 80%;
    margin-top: 3%;
  }
  .navigation > a {
    font-size: 0.8em;
  }
  .donation {
    grid-area: 1/2/1/2;
  }
  .donation-btn {
    padding: 8%;
    justify-self: center;
    font-size: 0.9em;
  }
  .main-page {
    background-size: 200% auto;
    background-position-x: 27%;
    background-position-y: 61%;
    grid-template-rows: 1fr 1fr;
    height: 35em;
  }
  
  .main-page-content2 {
    padding: 0%;
    height: 18em;
  }
  .main-page-content2-head {
    font-size: 2.1em;
    text-align: left;
    font-weight: bold;
    font-family: "Helvetica";
    padding: 8.5% 8.5% 0% 8.5%;
  }
  .main-page-content2-low {
    font-size: 1em;
    font-weight: 200;
    text-align: left;
  }
  .main-page-content2-top {
    position: absolute;
    top: -6.5%;
    left: 8.5%;
    padding: 2%;
  }
  .main-page-lower {
    padding: 8.5%;
  }
  .main-page-lower-head {
    padding: 0% 0% 2% 0%;
  }
  .main-page-lower-content {
    padding: 0% 25% 5% 0%;
  }
  .main-page-lower-top {
    padding: 2%;
    top: -5%;
    left: 40%;
  }

  .what-we-do {
    display: grid;
    grid-template-rows: 1fr 4fr;
  }
  .what-we-do-heading {
    justify-items: left;
    padding-top: 5%;
    margin-bottom: 0%;
    grid-template-rows: 1fr 3fr;
  }
  .what-we-do-heading > div {
    font-size: 1em;
    padding: 2%;
    justify-self: self-start;
    text-align: center;
    align-self: center;
  }
  .what-we-do-heading-content {
    text-align: left;
    font-size: 1.8em;
  }
  .what-we-do-div {
    grid-row-gap: 0;
    justify-items: center;
    align-items: center;
  }
  .what-we-do-div-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 16em;
    padding-top: 0%;
    margin-bottom: 15%;
  }
  .what-we-do-img {
    grid-area: 1/1/3/2;
    width: 100%;
    top: -25%;
    left: -5%;
  }
  .what-we-do-div-content h3 {
    grid-area: 1/2/2/3;
    font-size: 1.1em;
    padding: 13%;
  }
  .what-we-do-div-content p {
    grid-area: 2/2/4/3;
    padding: 13%;
    padding-right: 0;
    text-align: left;
    padding-top: 0;
    font-size: 0.9em;
  }
  .what-we-do-div-content-btn {
    grid-area: 3/1/3/2;
    font-size: 0.7em;
    width: 50%;
    justify-self: end;
  }
  .climate-change {
    background-size: 250% auto;
    background-position-x: 65%;
    background-position-y: 9%;
    display: flex;
    padding: 8.5%;
    height: 40em;
    justify-content: space-between;
  }
  .climate-change-head {
    margin: 0%;
    width: 40%;
  }
  .climate-change-head-cots {
    margin-bottom: 5%;
  }
  .climate-change-lower {
    width: 50%;
  }
  .climate-change-lower-content-heading {
    font-size: 2em;
  }

  .climate-change-lower {
    margin: 0%;
  }
  .stories-head {
    height: 30em;
    width: 80%;
  }
  .stories-head-top {
    left: 5%;
    top: -5%;
  }
  .stories-content {
    width: 65%;
    position: relative;
    left: 15%;
    top: -8em;
   
  }
  .stories-btn{
    left:15%;
    top:-8em;
    width: 30%;
    padding: 3%;
  }
  
  .things-to-do {
    display: block;
    position: relative;
  }
  .slogan {
    /* margin: 8%; */
    text-align: left;
    /* padding: 5%; */
    font-size: 1.9em;
    padding-right: 15%;
  }
  .event,
  .news {
    height: auto;
    display: block;
    width: 37.5%;
    text-align: left;
    padding: 0%;
    margin-left: 55%;
    margin-top: 10%;
  }

  .event > * {
    margin: 8% 0;
    font-size: 1em;
  }

  .news {
    height: auto;
    display: block;
    width: 37.5%;
    text-align: left;
    padding: 0%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .news > * {
    margin: 8% 0;
    font-size: 1em;
  }
  .event > img {
    position: absolute;
    width: 37.5%;
    left: 10%;
    top: 12.9%;
  }
  .news > img {
    position: absolute;
    width: 37.5%;
    left: 55%;
    top: 52.6%;
  }
  .event-head {
    top: 0;
    width: 50%;
    text-align: center;
  }

  .subscribe > p {
    grid-area: 1/1/2/3;
    font-size: 1.5em;
    font-weight: bold;
  }
  .foot{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title>h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
}
@media (min-width: 900px) {
  .logo-nav {
    grid-template-columns: 1fr 2fr 0.75fr;
  }
  .logo {
    grid-area: 1/1/1/1;
  }
  .navigation {
    grid-area: 1/2/1/2;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .donation {
    grid-area: 1/3/1/3;
    margin-top: 0%;
    align-self: center;
  }
  .donation-btn {
    padding: 5%;
  }
  .main-page {
    grid-template-columns: 1fr 1fr;
    background-size: 150% auto;
    background-position-x: 0%;
    background-position-y: 45%;
    grid-template-rows: 1fr;
    height: 20em;
  }
  .main-page-content {
    grid-area: 1/2/1/2;
    margin-left: 17%;
  }
  .main-page-content2 {
    grid-area: 1/1/1/1;
    /* margin: 17% 0% 17% 17%; */
    height: 18em;
    margin-right: 17%;
  }
  .main-page-content > div {
    font-size: 3em;
    margin: 0%;
  }
  .main-page-content2-top {
    top: -5%;
    padding: 3%;
  }
  .main-page-content2-head {
    font-size: 1.8em;
  }
  .main-page-content2-low {
    font-size: 0.9em;
  }
  .main-page-lower {
    padding: 10% 8.5% 10% 8.5%;
    display: flex;
  }
  .main-page-lower > div {
    margin-right: 2%;
  }
  .main-page-lower-top {
    font-size: 1em;
    padding: 1.3%;
  }
  .main-page-lower-head {
    padding: 2% 2% 5% 2%;
    font-size: 1.3em;
  }
  .main-page-lower-content {
    padding: 1% 0% 1% 1%;
    font-size: 0.9em;
  }
  .what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .what-we-do-heading {
    display: block;
    padding-bottom: 4em;
  }
  .what-we-do-heading > div {
    width: 15%;
    padding: 1%;
  }
  .what-we-do-heading-content {
    font-size: 2.5em;
    text-align: left;
  }

  .what-we-do-div {
    display: flex;
    justify-content: space-around;
  }
  .what-we-do-div-content {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1.5fr;
    grid-template-columns: 1fr;
    width: 20%;
    padding: 0 3%;
    height: 30em;
    margin-bottom: 5%;
  }
  .what-we-do-div-content > * {
    text-align: center;
    padding-bottom: 1rem;
  }
  .what-we-do-img {
    position: relative;
    width: 130%;
    margin-top: -2rem;
    grid-area: 1/1/1/1;
    top: -5%;
    left: -5%;
  }
  .what-we-do-div-content p {
    text-align: left;
    /* padding: 5%; */
    font-size: 0.9em;
    padding: 0%;
    grid-area: 3/1/3/1;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .what-we-do-div-content h3 {
    font-size: 1.5em;
    text-align: left;
    padding: 0%;
    grid-area: 2/1/2/1;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .what-we-do-div-content-btn {
    grid-area: 4/1/4/1;
    font-size: 0.7em;
    width: 50%;
    justify-self: self-start;
  }
  .climate-change {
    background-size: 250% auto;
    background-position-x: 67%;
    background-position-y: 26%;
    height: 50em;
  }
  .climate-change-head-cots {
    font-size: 2.7em;
  }
  .climate-change-lower-content {
    height: 10em;
  }
  
  .stories {
    flex-direction: row;
  }
  .stories-head{
    order: 2;
    height: 40em;
    width: 80%;
  }
  .stories-head-top {
    font-size: 1.5em;
    left: 5%;
    top: -5%;
    padding: 3% 5%;
  }
.stories-content-block{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}
  .stories-content {
    width: 112%;
    position: relative;
    top: 25%;
    left: 30%;
    height: 15em;
  }

  .stories-btn {
    padding: 2.5%;
    position: relative;
    left: -70%;
    top: 10em;
    width: 30%;
  }
  .subscribe {
    grid-template-columns: 50fr 30fr 20fr;
    grid-row-gap: 0%;
    grid-column-gap: 0%;
    padding: 5% 5% 5% 5%;
  }

  .subscribe > p {
    grid-area: 1/1/1/1;
    font-size: 1em;
    padding: 0% 5% 0% 0%;
  }

  .subscribe > input {
    grid-area: 1/2/1/2;
    border: none;
    border-radius: 2em;
    text-align: center;
    margin: 5%;
  }

  .subscribe > button {
    grid-area: 1/3/1/3;
    font-size: 1em;
    cursor: pointer;
    border-radius: 3em;
    margin: 2%;
  }
  .foot {
    display: flex;
    justify-content: space-around;
  }
  .social-link {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .help {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  .title {
    margin-right: 3%;
  }
  .cots {
    font-family: "FloodFont";
    font-size: 2.5em;
    padding-left: 5%;
  }
}
